html {
    max-width: 1900px;
    margin: 0 auto;
}

button, input {
    outline: none;
}

input:active, input:focus, select:focus, button:active, button:focus {
    outline: none;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.no-gutter > [class*='Private_user'] {
    padding-right: 5px;
}

.pustota {
    height: calc(100vh - 85px);
}

/*Header */
.home_main {

}

.header_okr {
    display: flex;
    height: 82px;
    background-color: white;
    padding: 0 20px 0 20px;
    justify-content: space-between;;
    align-items: center;
    margin-bottom: 1px;
}

.logo_okr {
    margin-right: 50px;
}

.search_okr {
    display: inline-block;
    width: 203px;
    height: 30px;
    margin-right: 18px;
    border: 2px solid #70C7D4;
    font-size: 13px;
    color: #70C7D4;
}

.search_okr form {
    position: relative;
    padding: 4px 0 4px 30px;

}

.search_okr button {
    width: 30px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    background: transparent;
}

.search_okr input, .search_okr button {
    border: none;
    outline: none;
}

.bell_okr {
    margin-right: 18px;
}

.use_name {
    display: inline-block;
    width: auto;
    margin-right: 18px;
    text-decoration: none;
    color: #40B5C6;
}

.use_name:hover {
    color: #86919A;
    text-decoration: none;
}

.user_photo {
    margin-right: 18px;
}

.user_menu nav {
    display: inline-block;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu_user:after {
    display: table;
    margin-right: 18px;
}

.menu_user > li {
    position: relative;
}

.menu_user > li > a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #40B5C6;
}

.menu_user li a:hover {
    color: black;
}

.submenu-link:after {
    color: inherit;
}

.submenu {
    background: #DDDDDD;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 5;
    width: 180px;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
}

.submenu a {
    color: white;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.submenu li:last-child a {
    border-bottom: none;
}

.menu_user > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}

/*ToolBar*/
.toolBar {
    display: flex;
    flex-direction: column;
    /*height: 100%;*/
    /*height: calc(100vh - 85px);*/
    background: #A7E3EC;
    margin: 0;
}

.content_toolbar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block_button {
    margin-bottom: 5px;
    outline: none;
    border: none;
    text-decoration: none;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 20px 0;
}

.block_button a {
    text-decoration: none;
    color: black;
}

.block_button:hover {
    background-color: white;
    text-decoration: none;
    color: black;
}

.button_toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 35px;
    background-color: white;
    margin-bottom: 10px;
}

.block_button:hover .button_toolbar {
    background-color: #40B5C6;
}

.block_button:hover .img_color {
    filter: invert(1);
}

.active {
    background-color: white;
    text-decoration: none;
    color: black;
}

.active .button_toolbar {
    background-color: #40B5C6;
}

.active .img_color {
    filter: invert(1);
}

/*Private*/
.Private_user {
    display: flex;
    flex-direction: column;
}

.bg_color {
    padding: 74px 5px 5px 25px;
    height: 100%;
    background-color: white;
}

.ps_user {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.User_name {
    margin: 0 0 0 10px;
}

.settings_link {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: black;
}

.settings_link:hover {
    text-decoration: none;
    color: #40B5C6;
}

.active_settings_one {
    color: #40B5C6;
}

/*SettingsUser*/
.settings {
    padding: 0;

}

.header_settings {
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h2_settings {
    margin: 0;
}

.main_settings {
    position: relative;
    height: calc(100vh - 150px);
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 83px;
    text-align: center;
    flex-wrap: wrap-reverse;
}

.data_user {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    align-items: center;
}

.data_user p {
    margin-right: 42px;
    margin-bottom: 0;
}

.input_file {
    display: none;
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none
}

.button_file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 30px;
    margin: 0;
    background-color: #C4C4C4;
    color: white;
    outline: none;
}

.data_user label:hover {
    background-color: white;
    color: #40B5C6;
    border: 1px solid #40B5C6;
}

.p_input_file {
    margin-right: 120px;
    margin-left: 10px;
}

.input_user {
    border: 2px solid #DDDDDD;
    padding: 11px;
    height: 46px;
    width: 323px;
}

.button_pass {
    margin-bottom: 73px;
    background: #40B5C6;
    color: white;
    height: 40px;
    width: 177px;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    border-radius: 25px;
}

.promt {
    position: relative;
}

.promt_pass {
    font-size: 12px;
    position: absolute;
    right: 80px;
    width: 235px;
    top: 25px;
    color: #aba9a9;
}

.button_pass:hover {
    text-decoration: none;
    background: white;
    border: 1px solid #40B5C6;
    color: #40B5C6;
    transform: none;
}

.ps_last {
    margin-top: 73px;
}

.active_settings_one {
    color: #40B5C6;
}

/*TargetsUser*/
.header_targets {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: white;
    margin-bottom: 5px;
}

.h2_user_name {
    font-size: 24px;
    color: black;
    margin: 0;
}

.header_targets_link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    background-color: white;
}

.link_targets {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.link_targets:hover {
    color: #86919A;
    text-decoration: none;
}

.active_link_targets_one {
    color: #86919A;
}

.active_link_targets_two {
    color: #86919A;
}

/*PlanWeek*/
.main_plan_week {
    height: auto;
    margin-top: 5px;
    padding-top: 37px;
    background-color: white;
}

.scale_bg {
    width: 100%;
    height: 46px;
    background-color: #DEE7EE;;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scale {
    display: flex;
    width: 77%;
}

.scale_first {
    text-align: center;
    width: 30%;
    background-color: #D5D5D5;
    border-radius: 57px 0px 0px 57px;
}

.scale_middle {
    text-align: center;
    width: 60%;
    background-color: #A2A2A2;
}

.scale_last {
    text-align: center;
    width: 10%;
    background-color: #3E3E3E;
    border-radius: 0px 57px 57px 0px;
}

.tasks {
    padding-top: 47px;
    padding-left: 60px;
    height: calc(100vh - 192px);
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
}

.h2_status_tasks {
    margin-bottom: 40px;
    font-size: 18px;
}

.task {
    position: relative;
}

.task span {
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 13px;
    font-size: 14px;
    color: black;
}

.task:last-child {
    margin-bottom: 40px;
}

.task input {
    margin-right: 13px;
}

.circle_status_planner {
    display: inline-block;
    margin-left: 10px;
    width: 9px;
    height: 9px;
    border-radius: 9px;
    background-color: #A1A1A1;
}

.circle_status_ready {
    display: inline-block;
    margin-left: 10px;
    width: 9px;
    height: 9px;
    border-radius: 9px;
    background-color: #D4D4D4;
}

.circle_status_problem {
    display: inline-block;
    margin-left: 10px;
    width: 9px;
    height: 9px;
    border-radius: 9px;
    background-color: #3E3E3E;
}

.link_task {
    position: relative;
}

.i_task {
    display: none;
    position: absolute;
    top: -13px;
    left: 41px;
    width: 200px;
    height: 46px;
    font-size: 12px;
    background-color: #DEE7EE;
    color: black;
    text-align: center;
    padding: 15px 0 12px 0;
    margin: 0;
}

.i_task span {
    position: absolute;
    top: 5px;
    left: 12px;
    color: #86919A;
    font-size: 25px;
    margin: 0;
}

.link_task:hover .i_task {
    display: block;
}

/*.window {*/
/*    display: flex;*/
/*    opacity: 1;*/
/*    position: absolute;*/
/*    width: 200px;*/
/*    height: 46px;*/
/*    background-color: #DEE7EE;*/
/*    color: black;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    top: 0;*/
/*    right: 68%;*/
/*}*/
/*.window span {*/
/*    margin: 0;*/
/*    font-size: 15px;*/
/*}*/
/*.window p {*/
/*    display: inline-block;*/
/*    color: #86919A;*/
/*    font-size: 40px;*/
/*    margin: 0;*/
/*}*/
/*.tr:hover .window {*/
/*    opacity: 1;*/
/*}*/

/*GoalsUser*/
.task_goals span {
    display: inline-block;
    margin-bottom: 30px;
    padding-left: 19px;
    font-size: 14px;
    color: black;
}

.task_goals:last-child {
    margin-bottom: 40px;
}


/* oauth */

.authorization {
    position: relative;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.contAuth {
    margin-left: 60%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.authorization form {
    min-width: 350px;
    max-width: 413px;
    padding: 0 45px;
}

.authorization .authTitle {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 82px;
    font-size: 60px;
    color: #40B5C6;
}

.authorization input, .authorization select {
    width: 100%;
    height: 46px;
    border: 2px solid #40B5C6;
    margin: 10px 0 15px;
    padding-left: 11px;
    box-sizing: border-box;
}

.authorization label {
    margin-left: 13px;
    margin-bottom: 0;
}

.authorization .error {
    border: 2px solid rgb(255, 112, 112);
}

.authorization .errorMsg {
    color: #ff3838;
    text-align: left;
    margin-bottom: 15px;
    font-size: 14px;
}

.authorization button {
    outline: 0;
    border-radius: 58px;
    background-color: #40B5C6;
    border: none;
    min-width: 159px;
    padding: 0 42px;
    display: block;
    margin: 0 auto 30px;
    color: #fff;
    font-size: 18px;
    height: 42px;
}

.authorization button:hover {
    background-color: #fff;
    color: #40B5C6;
    border: 2px solid #40B5C6;
    transform: none;
}

.authorization .message {
    font-size: 14px;
    margin: 0 0 45px;
    text-align: center;
}

.authorization .message a {
    color: #468e98;
    text-decoration: underline;
}

.imgAuth {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 60%;
    min-height: 100vh;
}

.imgAuth img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
}